{% block content %}
    <div  class="col-sm-12 col-lg-9 col-md-9 col-sm">

        
            <h3>Services API python libraries</h3>
                <div class="col-xs-12 col-md-6">
                    <a href="https://github.com/AndreiDrang/python3-anticaptcha" class="thumbnail">
                        <img src="/static/image/anti-captcha_logo.png" style="max-height:150px; max-width:150px">
                    </a>
                </div>

                <div class="col-xs-12 col-md-6">
                    <a href="https://github.com/AndreiDrang/python-rucaptcha" class="thumbnail">
                        <img src="/static/image/rucaptcha_logo.png" style="max-height:150px; max-width:150px">
                    </a>
                </div>

        <h3>Captcha examples</h3>
        <div class="col-sm-12 col-lg-6 col-md-6 col-sm">
                <div>
                    {% block common_captcha %}
                        {% include 'elements/common_captcha.html' %}
                    {% endblock %}
                </div>
                <div>
                    {% block text_captcha %}
                        {% include 'elements/text_captcha.html' %}
                    {% endblock %}
                </div>

                <div>
                     {% block solvemedia_captcha %}
                        {% include 'elements/solvemedia_captcha.html' %}
                    {% endblock %}
                </div>

                <div>
                    {% block key_captcha %}
                        {% include 'elements/key_captcha.html' %}
                    {% endblock %}
                </div>

        </div>

        <div class="col-sm-12 col-lg-6 col-md-6 col-sm">
            <div>
                {% block recaptcha_v2_new %}
                    {% include 'elements/recaptcha_v2_new.html' %}
                {% endblock %}
            </div>

            <div style="height: 50px; margin-top: 15px">
                <label>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <a href="{{ url_for('invisible_recaptcha') }}">
                            Перейти к Invisible ReCaptcha
                        </a>
                    </span>
                </label>
            </div>

            <div style="height: 330px; margin-top: 15px">
                {% block fun_captcha %}
                    {% include 'elements/fun_captcha.html' %}
                {% endblock %}
            </div>

            <div style="height: 330px; margin-top: 15px">
                {% block geetest_captcha %}
                    {% include 'elements/geetest_captcha.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}