{% block content %}
    <form style="height: 270px" name="invisible_recaptcha" id="invisible_recaptcha" method="POST">
        <label>ReCaptcha v2 invisible</label>
        <p></p>
        <div class="input-group">
            <div style="width:100px;" class="input-group-addon">
                Publick key invisible ReCaptcha
            </div>
            <input readonly style="height: 30px; width: 200px" value="6LcC7SsUAAAAAN3AOB-clPIsrKfnBUlO2QkC_vQ7">
        </div>
        <button
                type="submit"
                name="recaptcha_invisible_btn"
                class="g-recaptcha"
                data-sitekey="6LcC7SsUAAAAAN3AOB-clPIsrKfnBUlO2QkC_vQ7"
                data-callback="onSubmit">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Send
        </button>
    </form>
    <script>
        function onSubmit(token) {
            // Send форму на сервер
            document.getElementById("invisible_recaptcha").submit();
        }
    </script>
{% endblock %}