{% block content %}
    <form  style="height: 200px" enctype="multipart/form-data" method="POST">
        <label>Рекапча v.2 новая</label>
        <div class="input-group">
            <div style="width:100px;" class="input-group-addon">
                Публичный ключ re-капчи
            </div>
            <input readonly style="height: 30px; width: 200px" value="6Lf77CsUAAAAALLFD1wIhbfQRD07VxhvPbyQFaQJ">
        </div>
        <div class="g-recaptcha" data-sitekey="6Lf77CsUAAAAALLFD1wIhbfQRD07VxhvPbyQFaQJ" data-theme="dark"></div>
    </form>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
        </script>

{% endblock %}