{% block content %}
		<div class="col-sm-12 col-lg-3 col-md-3 col-sm">

			<h4>Menu</h4>


            <ul class="list-group">
                <a title="Переход на сайт сервиса" class="list-group-item" href="https://rucaptcha.com/?from=4170435">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        RuCaptcha
                </a>
                <a title="Переход на сайт сервиса" class="list-group-item" href="http://getcaptchasolution.com/vchfpctqyz">
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                        AntiCaptcha
                </a>
                <a title="Переход на сайт сервиса" class="list-group-item" href="https://github.com/AndreiDrang">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        Git source files
                </a>
                <a title="Переход на сайт сервиса" class="list-group-item" href="https://t.me/joinchat/CD2EtQ5Pm0dmoSQQMTkVlw">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                        Telegram
                </a>
                <a title="Переход на сайт сервиса" class="list-group-item" href="{{ url_for('invisible_recaptcha') }}">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        Invisible ReCaptcha
                </a>                     
            </ul>

           
            <a style="text-decoration:none; font-weight:bold;" href="https://rucaptcha.com/?from=4170435">
                <img class="img-fluid" style="height: 250px; width: 100%; display: block;" src="http://www.rucaptcha.com/template/files/uploads/banner/702460e856137dccec0f73be773bc7fb.gif">
            </a>
		</div>

{% endblock %}